<div class="page-header">
  <h1>
    Movies Playing in Chicago
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "movies_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

<div class="form-group">
    <%= f.label :synopsis_cont, "Synopsis contains" %>
    <%= f.text_field :synopsis_cont, :class => "form-control", :placeholder => "Synopsis contains" %>
  </div>



      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/movies" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#movies_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="form-group">



      <% @movies.sort_by(&:title).each do |movie| %>
      <tr>

        <td>
          <a href="/movies/<%= movie.id %>">
              <img src="<%= movie.poster %>" width="175">
            </a>
          </td>


      </tr>
      <% end %>
    </table>
    <%= paginate @movies, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
