<div class="page-header">
  <h3><%= @movie.title %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">



      <dd><img src="<%= @movie.poster %>" width="250"></dd>

      <dt>Synopsis</dt>
      <dd><%= @movie.synopsis %></dd>

    </dl>



  </div>
</div>

<!-- A Movie has many showtimes -->



      <!-- Label and input for time -->


      <!-- Label and input for movie_id -->



<!-- A Movie has many interests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Who wants to watch?
      </li>

      <% @movie.interests.each do |movie_watchlist| %>
        <li class="list-group-item">
          <a href="/users/<%= movie_watchlist.user_id %>">
            <%= movie_watchlist.user.username %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/movie_watchlists/<%= movie_watchlist.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/movie_watchlists/<%= movie_watchlist.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_movie_watchlist/<%= movie_watchlist.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_movie_watchlist" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for movie_id -->
      <input type="hidden" name="movie_id" value="<%= @movie.id %>">

      <button class="btn btn-block btn-success">
        I want to see <%=@movie.title%>!
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Movie has many users -->
<div class="btn-group btn-group-justified">
  <a href="/movies" class="btn btn-primary">
    Back to movies
  </a>
</div>
