<div class="page-header">

  <h3><%= @user.username %>

  </h3>





</div>


<div class="col-md-3">
  <% friend_request = FriendRequest.find_by(:sender_id => current_user.id, :recipient_id => @user.id) %>
  <% if friend_request.present? %>
  <a href="/delete_friend_request/<%= friend_request.id %>" class="btn btn-success btn-block">
    Following
  </a>
  <% else %>
  <form action="/create_friend_request" method="post">
    <!-- Hidden input for authenticity token to protect from forgery -->
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <input type="hidden" id="sender_id" name="sender_id" value="<%= current_user.id %>">

    <input type="hidden" id="recipient_id" name="recipient_id" value="<%= @user.id %>">

    <button class="btn btn-default btn-block">
      Follow
    </button>
  </form>
  <% end %>
</div>




<!-- A User has many friend_requests_sent -->


<!-- A User has many friend_requests_recieved -->



<!-- A User has many interests -->



<!-- A User has many following -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Following
      </li>

      <% @user.following.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>

        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many followers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Followers
      </li>

      <% @user.followers.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>

        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many movies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Movies
      </li>

      <% @user.movies.each do |movie| %>
        <li class="list-group-item">
          <a href="/movies/<%= movie.id %>">
            <%= movie.title %>
          </a>

        </li>
      <% end %>
    </ul>
  </div>
</div>
